* {{github_event.pull_request.title}}. PR [#{{github_event.pull_request.number}}]({{github_event.pull_request.html_url}}) by [@{{github_event.pull_request.user.login}}]({{github_event.pull_request.user.html_url}}).

